# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
ENV/


# ==========================================
# Jupyter Notebook
# ==========================================

.ipynb_checkpoints/


# ==========================================
# TensorFlow / Keras
# ==========================================

*.h5
*.keras


# ==========================================
# Archivos generados
# ==========================================

*.log
*.tmp


# ==========================================
# Sistema operativo
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# IDE / editores
# ==========================================

.vscode/
.idea/


# ==========================================
# Python cache / herramientas
# ==========================================

.pytest_cache/
.mypy_cache/